*{
  margin:0;
  padding:0;
  color:#000;
  font-family: 'Times New Roman', Times, serif;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

main{
  display:grid;
  width:93%;
  margin:0px auto;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  grid-template-rows:6rem 16rem;
  grid-template-columns: repeat(5,1fr);
}

ul{
  list-style-type:none;
  padding-top: 20px;
}
ul li{
    padding: 30px  10px;
}
ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: grey;
    transition: color 0.5s;
}
.carts{
    display: none;
}
.div1{font-weight:bold;font-size: 40px;grid-column: 1/-1;
 text-shadow: 2px 0 #000;
}
.div2{
     grid-row: 2/4;       
}



.div3{grid-column: 2/ 5;
   font-size: 41px;
   font-weight:900;
   letter-spacing: 0.6 px;
   text-shadow: 2px 0 #000;
}

.div4 p{
    color: grey;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.4px;
}
.div4 p::after{
    content: '';
    height: 3px;
    display: inline-block;
    background-color: rgb(238, 14, 14);
    width: 65px;

}
.div6 img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
#fabars{
    cursor: pointer;
    display: none;
}
.div5{
    grid-column: 2/ 7;    
    display: flex;
    /* overflow-x: auto;
    overflow-y: hidden; */
}
.div6{
  text-align: center;
  padding: 35px 35px;
  margin-left: 20px;
  border-radius: 15px;
  box-shadow: 1px 1px 20px 2px rgba(0,0,0,0.4);
}
.div6:hover{
    transform: scale(1.1);
}
    
.div6 h2{
    display: block;
    margin-top: 18px;
    font-size: 21px;
    font-weight: bold;
}
.div8{
    display: none;
}
ul li a:hover{
    color: rgb(238, 14, 14)
}
.hamburger{
    display: none;
}
@media all and (max-width:1200px){
    .div3{
        font-size:35px;
    }
}
@media all and (max-width:774px){
 ul{
     padding-top: 0px;
 }
 .b_button{
   text-align: end; 
   margin: 40px 40px;  
 }  
 .b_button i{
     font-size: 24px;
     cursor: pointer;
     text-shadow: 1px 1px rgba(255,255,255,0.2);
 }

  .div3{
        font-size:27px;
    }
   .back{
       position: fixed;
       width: 100%;
       display: none;
       top: 0;
       background-image: linear-gradient(45deg,rgba(245, 0, 0, 0.5),rgba(0,0,255,0.5));
       left: 0;
       z-index: 100;
       height: 100vh;
   }
    .div2{
        display: none;
    }
    main{
        width: 90%;
    }
    .res-div2{
        margin: 0;
        display: none;
        width: 80%;
        position:fixed;
        top: 0;
        z-index: 200;
        left: 0;
        padding: 0;
        background-image: linear-gradient(45deg,rgba(255,0,0,0.9),rgba(0,0,255,0.9));
        height: 100vh;
    }
    .res-div2 ul li{
        margin: 5px 0px;
        padding: 0;
    }
    .res-div2 ul li a{
        color: #fff;
        letter-spacing: 2px;
    }
    .div6:hover{
       transform: none;
    }
    .ul1{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-around;
        margin-top: 2%;
        height: 70%;
    }
    .hamburger{
        width: 40px;
        height: 19px;
        border: none;
        display: flex;
        flex-direction: column;
        margin: 5px 5px;
        background: transparent;
        justify-content: space-around;
        cursor: pointer;
        position: relative;
        z-index: 110;

    }
    .line-1{
        display: block;
        height: 2px;
        background-color: red;
    }
    .a{
        width: 26px;
    }
    .b{
        width: 20px;
    }
    .c{
        width: 33px;
    }
    .ul1 li a{
        text-shadow: 1px 0px rgba(255,255,255,0.3);
    }
    main{
      display: block;
      margin-left: auto;
      margin-right: auto;

  }
  .div6:hover{
      transform: none;
  }
  .div8{
      display: block;
      margin-top: 40px;
  }
  .div8 p{
    color: grey;
    font-size: 15px;
    line-height: 1.4;
    letter-spacing: 0.4px;
}
  .div8 p::after{
    content: '';
    height: 3px;
    display: inline-block;
    background-color: rgb(238, 14, 14);
    width: 65px;

}
  .div6 img{
      width: 80px;
      height: 80px;
  }
 /* .div2{
     display:none;
 } */
 
 #fabars{
     display: inline-block;
 }    
 i{
     color:rgb(238, 14, 14);
 }
 
 .div1{
    font-size: 20px;
    text-align: center;
    margin-top: -25px;
 }
 span{
     display: none;
 }
 .carts{
     display: block;
     text-align: end;
     margin-top: -18px;
 }
 .div2 ul li{
     padding: 5px;
 }
 .div3 h1{
     font-size: 28px;
     text-shadow: 1px 0 #000;
     margin-top: 60px;
 }
 .div4{
     display: none;
 }
 .div6{
    padding: 25px 0px;
    margin-left: 0px;    
    box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.3);
 }
 
 .div5{
     margin-top: 40px;
     display: grid;
     gap: 10px;
     grid-template-columns: 1fr 1fr;
 }
 .div7{
     display: none;
 }
 .div2 ul li a{
     font-size: 17px;
 }
 .div6 h2{
     font-size: 19px;
 }
}