*{
  margin:0;
  padding:0;
  color:#000;
  font-family: 'Times New Roman', Times, serif;
  box-sizing: border-box;
  /* border: 1px solid black; */
}
main{
  display:grid;
  width:93%;
  margin:60px auto;
  gap: 10px;
  margin-bottom: 10px;
  grid-template-rows:6rem 16rem;
  grid-template-columns: repeat(5,1fr);
}

ul{
  list-style-type:none;
  padding-top: 20px;
}
ul li{
    padding: 30px  10px;
}
ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: grey;
}
.carts{
    display: none;
}
.div1{font-weight:bold;font-size: 40px;grid-column: 1/-1;
 text-shadow: 2px 0 #000;
}
.div2{
     grid-row: 2/4;       
}



.div3{grid-column: 2/ 5;
   font-size: 41px;
   font-weight:900;
   letter-spacing: 0.6 px;
   text-shadow: 2px 0 #000;
}

.div4 p{
    color: grey;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.4px;
}
.div4 p::after{
    content: '';
    height: 3px;
    display: inline-block;
    background-color: rgb(238, 14, 14);
    width: 65px;

}
.div6 img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
#fabars{
    cursor: pointer;
    display: none;
}
.div5{
    grid-column: 2/ 7;    
    display: flex;
    /* overflow-x: auto;
    overflow-y: hidden; */
}
.div6{
  text-align: center;
  padding: 35px 35px;
  margin-left: 20px;
  border-radius: 15px;
  box-shadow: 1px 1px 20px 2px rgba(0,0,0,0.4);
}
.div6 h2{
    display: block;
    margin-top: 18px;
    font-size: 21px;
    font-weight: bold;
}
.div8{
    display: none;
}
@media all and (max-width:380px){
  main{
      display: block;
      margin: 30px 0px;
      width: 85%;
      margin-left: auto;
      margin-right: auto;

  }
  .div8{
      display: block;
      margin-top: 40px;
  }
  .div8 p{
    color: grey;
    font-size: 158px;
    line-height: 1.4;
    letter-spacing: 0.4px;
}
  .div8 p::after{
    content: '';
    height: 3px;
    display: inline-block;
    background-color: rgb(238, 14, 14);
    width: 65px;

}
  .div6 img{
      width: 80px;
      height: 80px;
  }
 /* .div2{
     display:none;
 } */
 
 #fabars{
     display: inline-block;
 }    
 i{
     color:rgb(238, 14, 14);
 }
 
 .div1{
    font-size: 20px;
    text-align: center;
    margin-top: -20px;
 }
 span{
     display: none;
 }
 .carts{
     display: block;
     text-align: end;
     margin-top: -20px;
 }
 .div2 ul li{
     padding: 5px;
 }
 .div3 h1{
     font-size: 28px;
     text-shadow: 1px 0 #000;
     margin-top: 60px;
 }
 .div4{
     display: none;
 }
 .div6{
    padding: 25px 0px;
    margin-left: 0px;    
    box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.3);
 }
 
 .div5{
     margin-top: 40px;
     display: grid;
     gap: 10px;
     grid-template-columns: 1fr 1fr;
 }
 .div7{
     display: none;
 }
 .div2 ul li a{
     font-size: 17px;
 }
 .div6 h2{
     font-size: 19px;
 }
}